<div id="all">
  <div class="post" #Friend>
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
  <div class="post">
    <img (click)="router.navigate(['/timeTO/'+person[0]]);" src="assets/img.Images_Pic_tmp.jpg" class="littleAvatar" />
    <br>Fess
    <i>1 message</i>
  </div>
</div>
<div style="width: 60%;height: 500px">Ffdfsdfdssdf</div>
<app-new-message></app-new-message>
