<router-outlet></router-outlet>
  <form class="form-container">
  <div class="form-title"><h2>Sign up</h2></div>
  <div class="form-title">Name</div>
  <input ng-model="person.Name" class="form-field" required type="text" name="name" /><br />
  <div class="form-title">Surname</div>
  <input class="form-field" required type="text" name="surname" /><br />
  <div class="form-title">Nickname</div>
  <input class="form-field" required type="text" name="nick" /><br />
  <div class="form-title">Email</div>
  <input class="form-field" required type="text" name="email" /><br />
  <div class="form-title">Password</div>
  <input class="form-field" required type="password" name="password" /><br />
  <div class="submit-container">
    <a href="/signIn" class="submit-button" style="margin-right: 125px">Sign in</a>
    <a class="submit-button" (click)="add_person(person.Name,person.Surname,person.Nickname,person.email,person.password)" type="submit">Submit</a>
  </div>
</form>
