<form class="form-container">
  <div class="form-title"><h2>Sign up</h2></div>
  <div class="form-title">Name</div>
  <input class="form-field" required type="text" name="name" /><br />
  <div class="form-title">Surname</div>
  <input class="form-field" required type="text" name="surname" /><br />
  <div class="form-title">Nickname</div>
  <input class="form-field" required type="text" name="nick" /><br />
  <div class="form-title">Email</div>
  <input class="form-field" required type="text" name="email" /><br />
  <div class="form-title">Password</div>
  <input class="form-field" required type="password" name="password" /><br />
  <div class="submit-container">
    <button class="submit-button" style="margin-right: 125px">Sign in</button>
    <input class="submit-button" type="submit" value="Submit" />
  </div>
</form>
<router-outlet></router-outlet>
