
<div class="post" #Post [style.height.px]="Height" >
  <p class="post-name"><a #A href="/timeTO/{{Name}}">{{Nickname}}</a>{{isAvatar}}</p>
  <img (click)="changeLocation()" #Avatar src="{{Url}}" class="littleAvatar"/>
  <textarea #TextField id="message" style="resize: none" disabled [ngModel]="post.text" class="message"></textarea>
  <img #BigAvatar src="{{src}}" width="350" height="350"/>
   <span class="time"> {{time}} </span>  
   <div id="postButtons"> 
   <button #DeleteButton (click)="Delete()"><i class="fa fa-trash"></i></button>
    <button #EditButton (click)="edit()"><i class="fa fa-edit"></i></button>
    <button #LikeButton (click)="like()"><i class="fa fa-heart"></i> </button>
     <i id="count">{{count}}</i>
    </div>
 
</div>
