#list {
  top: 0;
  left: 0;
  position: fixed;
  background-color: #4D82BC;
  float: left;
  width: 100%;
  height: auto;
  -ms-overflow-style: none;
  overflow: auto;
  z-index: 10;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.float-right {
  float: right;
  padding-top: 10px;
  padding-right: 25px;
}
#list::-webkit-scrollbar{
  width: 0;
}
h1 {
  color: #fff;
   display:inline-block;
   font-size:20px;
   font-weight:normal;
   padding-left:15px;
 }
.leftButtons {
  margin-bottom: 2px;
  width: auto;
  height: 40px;
  display: inline-block;
  font-size: 18px;
  color: white;
  text-decoration: none;
  padding: .2em .8em;
  cursor: pointer;
  outline: none;
  background-color: #4D82BC;
}
i {
  float: right;
  background: #bf0d0d;
  padding: 6px;
  border-radius: 50%;
  height: 8px;
  margin-left: 0px;
  font-size: 14px;
  width: 10px;
  line-height: .6;
  margin-top: 7px;
  z-index: 100;
  position: relative;
}
