<div class="name">
  <p>{{person?.Name}} {{person?.Nickname}} {{person?.Surname}}</p>
  <img class="avatar" src="assets/img.Images_Pic_tmp.jpg"/>
</div>
<div class="info">
  <app-text-info [person]="person"></app-text-info>
  <a href="/friends/{{person.Nickname}}" class="bottomButtons">Friends</a>
  <a class="bottomButtons" style="left: 29%">Photos</a>
  <a (click)="edit()" id="Edit" class="bottomButtons" style="left: 51%" name="edit">{{isEditing}}</a>
  <a (click)="invite()"class="bottomButtons" id="invite" style="left: 51%;display: none">{{isInvited}}</a>
  <a class="bottomButtons" id="message" style="left: 73%;display: none;">Message</a>
</div>
